<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Message list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
<body>
<div id="list" class="row row-cols-1 row-cols-md-3 g-4">
    <div th:each="message : ${messages}" th:object="${message}" class="col">
        <div class="card">
            <img th:if="*{filename != null}" th:src="@{/img/{filename}(filename=*{filename})}"
                 class="card-img-top"/>

            <div class="card-body m-2">
                <p th:text="*{text}" class="card-text"></p>
                <i th:text="*{tag}" class="card-text"></i>
            </div>
            <div class="card-footer text-muted container">
                <div class="row">

                    <a class="col align-self-center" th:href="@{/users/{username}(username = *{author.username})}">
                        <strong th:text="*{author.username}"></strong>
                    </a>
                    <a class="col align-self-center" th:href="@{/}">

                    </a>
                    <a class="col btn btn-primary" th:if="${isOwner}"
                       th:href="@{/users/{username}(username = *{author.username}, message = ${message.id})}">
                        edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>